<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <%- include("../styles.ejs") %>
    <script src="https://www.kryogenix.org/code/browser/sorttable/sorttable.js"></script>
    <title>All energisers</title>
    <script src="js/energisers.js" defer type="module"></script>
  </head>
  <body>
    <%- include("../nav.ejs") %>
    <header class="container">
      <h1>All energisers</h1>
    </header>
    <section class="form-group container">
      <input
        class="form-control"
        type="text"
        id="search-by-energiser-name"
        placeholder="Search for energisers by name"
      />
    </section>
    <main class="container">
      <span>Getting data, please wait...</span>
    </main>
  </body>
</html>
