<nav class="nav justify-content-center">
  <a class="nav-link" href="/">Home</a>
  <a class="nav-link" href="/get-all-sessions">All sessions</a>
  <a class="nav-link" href="/get-all-participants">All participants</a>
  <a class="nav-link" href="/get-all-energisers">All energisers</a>
  <a class="nav-link" href="/create-participant">Create participant</a>
  <a class="nav-link" href="/create-energiser">Create energiser</a>
  <!-- <a class="nav-link" href="/create-session">Create session</a> -->
</nav>
