/* .nav {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.nav a {
  padding: 1rem;
  margin: 1rem;
  border: 1px solid black;
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 0;
} */
